@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
}

* {
	box-sizing: border-box;
}

button:active {
	transform: scale(0.9);
}

.rec-dot_active {
	background: transparent !important;
	border: 2px solid #ff8343 !important;
	box-shadow: 0 0 1px 3px rgb(255, 131, 67) !important;
}

@media (max-width: 767px) {
	.rec-carousel-item {
		height: 20rem !important;
	}
	.overFlow_title {
		font-size: 0.8rem;
	}
	li {
		margin-left: 0.8rem !important;
		background: rgba(151, 152, 153, 0.5) !important;
	}
	.selected {
		background: rgba(255, 131, 67, 0.4) !important;
	}
	.previous {
		background: transparent !important;
	}
	.next {
		background: transparent !important;
	}
}

@media (min-width: 769px) and (max-width: 1023px) {
	.rec-carousel-item {
		height: 20rem !important;
	}
}

.overFlow {
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0.1rem;
}

.overFlow:hover {
	background: #fff;
	height: 2rem;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	border-radius: 0.25rem;
	z-index: 10;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	color: #000;
}

.overFlow_title {
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0.1rem;
}

.overFlow_title:hover {
	background: #fff;
	height: 3rem;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	border-radius: 0.25rem;
	z-index: 10;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
}

li {
	margin-left: 2rem;
	border: 2px solid #ccc;
	width: 2rem;
	display: flex;
	justify-content: center;
	padding-top: 0.2rem;
	border-radius: 25rem;
	color: #fff;
	background: #b4b4b4;
}

.next,
.previous {
	background: transparent;
	border: transparent;
	width: 2rem;
}

.selected {
	background: #ff8343;
	border: transparent;
	padding-top: 0.3rem;
}
